.title-device-name{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
}
.title-device-info{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  line-height: 22px;
  margin-top: 16px;
  span{
    margin-right: 40px;
  }
}