
.agency-header {
  margin-bottom: 24px;
  .btn {
    margin-right: 8px;
  }
}

.btn-container{
  margin-top: 16px;
}

.contact-form-item{
  padding: 0;
  margin:0;
}

.editBtnContainer{
  margin-left:70px;
  margin-top: 16px;
}
.info0001left{
  float: left
}
.info0001right{
  float: right
}

