h3{
  margin-bottom: 16px;
}
.link-info-container{
  background: rgba(0,0,0,0.02);
  margin-bottom: 32px;
  .label{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0,0,0,0.45);
  }
  .item-value{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0,0,0,0.65);
    line-height: 22px;
  }
}