.operations-edit-btn{
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;

}
.operations-delete-btn{
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 1px solid rgba(0,0,0,0.09);
}

.operations-ellipsis-btn{
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 1px solid rgba(0,0,0,0.09);
}